*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background-image: url(../src/imgg/nk\ \(4\).jpg);
  background-size: 100%;
}
.main-div{
  position: relative;
  top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid black; */
}
.div{
  border: 3px solid red;
  height: 40rem;
  width: 35%;
  border-radius:10% ;
  background-image: url(../src/imgg/nk\ \(13\).jpg);
  background-size: 100% 100%;
  box-shadow: 26px 21px 11px 1px rgb(10, 5, 3);
  /* align-items: center; */



}


input{
  width: 58%;
  font-size: 99%;
  height: 5%;
  font-weight: bold;
  font-family: cursive;
  position: relative;
  border-radius: 10%;
  color: blueviolet;
  
  left: 13%;
   border: 2px solid rgb(19, 77, 184);
   box-shadow: 4Px 4Px 5px rgb(84, 74, 230);
  text-align: center;}
   
button{
  /* border: 2px solid green; */
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: absolute;
  left: 60%;
}
ol{
  font-size: 0.8rem;
  font-weight: bold;
  margin: 2rem 2rem;
  padding: 3px 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ol li{
      border: 2px solid rgb(220, 238, 203);
      border-radius: 10px;
     width: 70%;
      margin: 23px 14px;
       padding: 4px 11px;
      overflow: hidden;
      font-family: monospace;
      font-weight: bold;
      font-size: 1.1rem;
      color: rgb(206, 27, 21);
  
   background: linear-gradient(rgb(167, 235, 165),rgb(208, 228, 123));
  box-shadow: 15px 14px 8px rgb(3, 3, 3);
}
.delMe{
  background-image: url(./delete.png);
  background-size: 100% 100%;
  transition: transform .2s;
}
.delMe:hover{
  transform: scale(1.2);
  background-color: red;

}
.plus{
  background-image: url(./plus.png);
  background-size: 100% ;
  transition: transform .2s;

}
.plus:hover{
  background-color: rgb(126, 226, 12);
  transform: scale(1.2);
}
.heading{
  position: relative;
  top: 3rem;
  font-size: 2.8rem;
 
  text-align: center;
  font-family: 'Volkhov', serif;

 
  background: -webkit-linear-gradient(rgb(44, 204, 12), rgb(19, 59, 194));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}
@media(max-width:998px){
  html{
    font-size: 70%;
  }
  .div{
    width: 80%;
  }
  button{
    left: 70%;
  }
  
}
@media(max-width:768px){
  html{
    font-size: 70%;
  }
  .div{
    width: 80%;
  }
  button{
    left: 70%;
  }
}
